img{
  width: 40%;
  height: 40%;
  margin-left: 130px;
  margin-top: 20px;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  outline: none;
}
body{
  background-color: #000;
}
.voting{
  position: relative;
  border: 3px solid #303030;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  margin:20px;
  justify-content: center;
}
.column {
  float: left;
  width: 33.33%;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
input{
  width: 50px;
  border: none;
  background: none;
  color: #919191;
  font-size: 30px;
  margin: 0 10px;
  pointer-events: none;
}
button{
  color: #fff;
  background: none;
  border: none;
  font-size: 64px;
  padding: 0 15px;
  margin: 10px 0;
  margin-left: 20px;
  cursor: pointer;
}
button:active{
  color: #004eff;
  transform: scale(1.2);
}


